<section [ngClass]="{'md:mb-32 lg:mb-32': true}"></section>
<section>
  <div class="flex justify-between items-center px-4">
    <div>
      <button (click)="toggleFiltros()" class="text-blue-400 hover:text-blue-600 py-2 px-4 rounded-full mt-2 mb-2">
        <ion-icon [name]="mostrarFiltros ? 'close-outline' : 'filter-outline'" class="text-lg"></ion-icon> {{
        mostrarFiltros ? 'Cerrar Filtros' : 'Mostrar Filtros' }}
      </button>
    </div>
    <div *ngIf="isLoggedIn()" class="items-center">
      <button (click)="navigateTo('dashboard/crear-mascota')"
        class="bg-principal-blue-400 hover:bg-principal-blue-600 text-white py-2 px-4 rounded-full mt-2 mb-2">
        Publicar Mascota
      </button>
    </div>
  </div>

  <div *ngIf="mostrarFiltros" class="grid grid-cols-1 bg-gray-100 p-8 mb-2">
    <h2 class="text-lg font-semibold mb-2">Filtros</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      <div class="border border-gray-500 rounded-lg p-2">
        <select id="especie" name="especie" [(ngModel)]="filtros.especie"
          class="input-field block w-full py-2 px-3 rounded-md placeholder-gray-500 focus:outline-none">
          <option value="" disabled selected class="text-gray-500 italic">Especie</option>
          <option *ngFor="let especie of especies" [value]="especie">{{ especie }}</option>
        </select>
      </div>
      <div class="border border-gray-500 rounded-lg p-2">
        <select id="raza" name="raza" [(ngModel)]="filtros.raza"
          class="input-field block w-full py-2 px-3 rounded-md placeholder-gray-500 focus:outline-none">
          <option value="" disabled selected class="text-gray-500 italic">Raza</option>
          <option *ngFor="let raza of razas" [value]="raza">{{ raza }}</option>
        </select>
      </div>
      <div class="border border-gray-500 rounded-lg p-2">
        <select id="sexo" name="sexo" [(ngModel)]="filtros.sexo"
          class="input-field block w-full py-2 px-3 rounded-md placeholder-gray-500 focus:outline-none">
          <option value="" disabled selected class="text-gray-500 italic">Sexo</option>
          <option *ngFor="let sexo of sexos" [value]="sexo">{{ sexo }}</option>
        </select>
      </div>
      <div class="flex items-center">
        <button class="bg-principal-blue-400 hover:bg-principal-blue-600 text-white py-2 px-4 rounded-full mt-2 mr-2"
          (click)="aplicarFiltros()">Aplicar Filtros</button>
        <button class="bg-principal-blue-400 hover:bg-principal-blue-600 text-white py-2 px-4 rounded-full mt-2 mr-2"
          (click)="resetFiltros()">Limpiar Filtros</button>
      </div>
    </div>
  </div>
</section>

<ion-content>
  <div class="mb-48 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
    <div *ngFor="let mascota of filteredMascotas">
      <ion-card class="flex flex-col">
        <div class="relative w-full" style="padding-top: 100%;">
          <img class="absolute inset-0 w-full h-full object-cover" alt="Imagen de {{ mascota.nom_mascota }}"
            [src]="mascota.foto ? mascota.foto : '../../../assets/icon/Logo_AppDopta.jpeg'" />
        </div>
        <ion-card-header>
          <div class="flex justify-between items-center">
            <div>
              <ion-card-subtitle>{{ mascota.especie }} - {{ mascota.edad }}</ion-card-subtitle>
              <ion-card-title>{{ mascota.titulo | uppercase }}</ion-card-title>
            </div>
            <button *ngIf="isLoggedIn()" (click)="toggleFavorito(mascota)" [class.text-red-500]="mascota.is_favorito"
              class="ml-4">
              <ion-icon [name]="mascota.is_favorito ? 'heart' : 'heart-outline'" class="text-2xl"></ion-icon>
            </button>
          </div>
          <ion-card-subtitle>Nombre: {{ mascota.nom_mascota }}</ion-card-subtitle>
          <ion-card-subtitle>Fecha de publicación: {{ mascota.fec_public | slice: 0:10 }} </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="flex-grow flex flex-col items-center">
          <button (click)="verDetalle(mascota)"
            class="bg-principal-blue-400 hover:bg-principal-blue-600 text-white py-2 px-4 rounded-full mt-4 w-48">
            Ver Detalle
          </button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>