<ion-header>
  <ion-toolbar>
    <ion-title>Crear Mascota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Formulario de Creación</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="formularioMascota" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Título</ion-label>
          <ion-input formControlName="titulo" type="text" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nombre de la Mascota</ion-label>
          <ion-input formControlName="nom_mascota" type="text" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Especie</ion-label>
          <ion-input formControlName="especie" type="text" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Raza</ion-label>
          <ion-input formControlName="raza" type="text" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Sexo</ion-label>
          <ion-select formControlName="sexo" interface="action-sheet">
            <ion-select-option value="H">Hembra</ion-select-option>
            <ion-select-option value="M">Macho</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Tamaño</ion-label>
          <ion-input formControlName="tamanio" type="text" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Edad</ion-label>
          <ion-input formControlName="edad" type="text" required></ion-input>
        </ion-item>

        <!-- Aquí puedes agregar más campos según sea necesario -->

        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-textarea formControlName="descripcion" required></ion-textarea>
        </ion-item>

        <!-- Input para seleccionar archivo de foto -->
        <ion-item>
          <ion-label>Foto de la Mascota</ion-label>
          <input type="file" (change)="onFileSelected($event)" accept="image/*">
        </ion-item>

        <button type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-pricipal-grey-400 hover:bg-principal-blue-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:">
          Enviar
        </button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>