<!-- Diseño pagina web Movil -->
<ion-content *ngIf="isMobileView; else desktopView" [fullscreen]="true">
  <div class="mt-4 text-red-600" *ngIf="registroError">
    {{ registroError }}
  </div>
  <div class="container flex flex-col justify-center items-center mt-4 py-3">
    <div class="container-logo flex">
      <img src="../../../../assets/icon/Logo_AppDopta.jpeg" alt="Logo App Dopta" class="h-20 w-20" />
      <ion-title size="large" class="text-4xl text-principal-grey-700">AppDopta</ion-title>
    </div>
    <div class="container-formulario">
      <form [formGroup]="formularioMascota" (ngSubmit)="onSubmit()" class="space-y-6 mt-8 w-72">
        <div>
          <label for="titulo" class="block ml-1 text-sm font-medium leading-6 text-principal-blue-400">Título</label>
          <div class="mt-2">
            <input formControlName="titulo" id="titulo" name="titulo" type="text" required
              class="block w-full pl-2 rounded-md py-1.5 text-principal-grey-700 shadow-sm ring-1 ring-inset ring-principal-grey-400 placeholder:text-principal-grey-400 focus:ring-2 focus:ring-inset focus:ring-principal-grey-700 sm:text-sm sm:leading-6" />
          </div>
        </div>

        <div>
          <label for="nom_mascota" class="block ml-1 text-sm font-medium leading-6 text-principal-blue-400">Nombre de la Mascota</label>
          <div class="mt-2">
            <input formControlName="nom_mascota" id="nom_mascota" name="nom_mascota" type="text" required
              class="block w-full pl-2 rounded-md py-1.5 text-principal-grey-700 shadow-sm ring-1 ring-inset ring-principal-grey-400 placeholder:text-principal-grey-400 focus:ring-2 focus:ring-inset focus:ring-principal-grey-700 sm:text-sm sm:leading-6" />
          </div>
        </div>

        <div>
          <label for="especie" class="block ml-1 text-sm font-medium leading-6 text-principal-blue-400">Especie</label>
          <div class="mt-2">
            <input formControlName="especie" id="especie" name="especie" type="text" required
              class="block w-full pl-2 rounded-md py-1.5 text-principal-grey-700 shadow-sm ring-1 ring-inset ring-principal-grey-400 placeholder:text-principal-grey-400 focus:ring-2 focus:ring-inset focus:ring-principal-grey-700 sm:text-sm sm:leading-6" />
          </div>
        </div>

        <div>
          <label for="raza" class="block ml-1 text-sm font-medium leading-6 text-principal-blue-400">Raza</label>
          <div class="mt-2">
            <input formControlName="raza" id="raza" name="raza" type="text" required
              class="block w-full pl-2 rounded-md py-1.5 text-principal-grey-700 shadow-sm ring-1 ring-inset ring-principal-grey-400 placeholder:text-principal-grey-400 focus:ring-2 focus:ring-inset focus:ring-principal-grey-700 sm:text-sm sm:leading-6" />
          </div>
        </div>

        <div>
          <label for="sexo" class="block ml-1 text-sm font-medium leading-6 text-principal-blue-400">Sexo</label>
          <div class="mt-2">
            <ion-select formControlName="sexo" interface="action-sheet" class="block w-full rounded-md py-1.5 text-principal-grey-700 shadow-sm ring-1 ring-inset ring-principal-grey-400 focus:ring-2 focus:ring-inset focus:ring-principal-grey-700 sm:text-sm sm:leading-6">
              <ion-select-option value="H">Hembra</ion-select-option>
              <ion-select-option value="M">Macho</ion-select-option>
            </ion-select>
          </div>
        </div>

        <div>
          <label for="tamanio" class="block ml-1 text-sm font-medium leading-6 text-principal-blue-400">Tamaño</label>
          <div class="mt-2">
            <input formControlName="tamanio" id="tamanio" name="tamanio" type="text" required
              class="block w-full pl-2 rounded-md py-1.5 text-principal-grey-700 shadow-sm ring-1 ring-inset ring-principal-grey-400 placeholder:text-principal-grey-400 focus:ring-2 focus:ring-inset focus:ring-principal-grey-700 sm:text-sm sm:leading-6" />
          </div>
        </div>

        <div>
          <label for="edad" class="block ml-1 text-sm font-medium leading-6 text-principal-blue-400">Edad</label>
          <div class="mt-2">
            <input formControlName="edad" id="edad" name="edad" type="text" required
              class="block w-full pl-2 rounded-md py-1.5 text-principal-grey-700 shadow-sm ring-1 ring-inset ring-principal-grey-400 placeholder:text-principal-grey-400 focus:ring-2 focus:ring-inset focus:ring-principal-grey-700 sm:text-sm sm:leading-6" />
          </div>
        </div>

        <div>
          <label for="descripcion" class="block ml-1 text-sm font-medium leading-6 text-principal-blue-400">Descripción</label>
          <div class="mt-2">
            <ion-textarea formControlName="descripcion" id="descripcion" name="descripcion" required
              class="block w-full rounded-md py-1.5 text-principal-grey-700 shadow-sm ring-1 ring-inset ring-principal-grey-400 placeholder:text-principal-grey-400 focus:ring-2 focus:ring-inset focus:ring-principal-grey-700 sm:text-sm sm:leading-6"></ion-textarea>
          </div>
        </div>

        <div>
          <label for="foto" class="block ml-1 text-sm font-medium leading-6 text-principal-blue-400">Foto de la Mascota</label>
          <div class="mt-2">
            <input type="file" id="foto" name="foto" (change)="onFileSelected($event)" accept="image/*" class="block w-full text-principal-grey-700 focus:ring-2 focus:ring-inset focus:ring-principal-grey-700 sm:text-sm sm:leading-6" />
          </div>
        </div>

        <div class="flex justify-center mt-6">
          <button type="submit"
            class="w-full py-3 rounded-3xl bg-principal-blue-400 text-white font-bold text-lg hover:bg-principal-blue-600 transition-colors duration-300">
            Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
</ion-content>

<!-- Diseño pagina web Escritorio -->
<ng-template #desktopView>
  <ion-content [fullscreen]="true">
    <div class="mt-4 text-red-600" *ngIf="registroError">
      {{ registroError }}
    </div>
    <div class="container flex flex-col justify-center items-center mt-4 py-3">
      <div class="container-logo flex">
        <img src="../../../../assets/icon/Logo_AppDopta.jpeg" alt="Logo App Dopta" class="h-20 w-20" />
        <ion-title size="large" class="text-4xl text-principal-grey-700">AppDopta</ion-title>
      </div>
      <div class="container-formulario">
        <form [formGroup]="formularioMascota" (ngSubmit)="onSubmit()" class="space-y-6 mt-8 w-96">
          <div>
            <label for="titulo" class="block ml-1 text-sm font-medium leading-6 text-principal-blue-400">Título</label>
            <div class="mt-2">
              <input formControlName="titulo" id="titulo" name="titulo" type="text" required
                class="block w-full pl-2 rounded-md py-1.5 text-principal-grey-700 shadow-sm ring-1 ring-inset ring-principal-grey-400 placeholder:text-principal-grey-400 focus:ring-2 focus:ring-inset focus:ring-principal-grey-700 sm:text-sm sm:leading-6" />
            </div>
          </div>

          <div>
            <label for="nom_mascota" class="block ml-1 text-sm font-medium leading-6 text-principal-blue-400">Nombre de la Mascota</label>
            <div class="mt-2">
              <input formControlName="nom_mascota" id="nom_mascota" name="nom_mascota" type="text" required
                class="block w-full pl-2 rounded-md py-1.5 text-principal-grey-700 shadow-sm ring-1 ring-inset ring-principal-grey-400 placeholder:text-principal-grey-400 focus:ring-2 focus:ring-inset focus:ring-principal-grey-700 sm:text-sm sm:leading-6" />
            </div>
          </div>

          <div>
            <label for="especie" class="block ml-1 text-sm font-medium leading-6 text-principal-blue-400">Especie</label>
            <div class="mt-2">
              <input formControlName="especie" id="especie" name="especie" type="text" required
                class="block w-full pl-2 rounded-md py-1.5 text-principal-grey-700 shadow-sm ring-1 ring-inset ring-principal-grey-400 placeholder:text-principal-grey-400 focus:ring-2 focus:ring-inset focus:ring-principal-grey-700 sm:text-sm sm:leading-6" />
            </div>
          </div>

          <div>
            <label for="raza" class="block ml-1 text-sm font-medium leading-6 text-principal-blue-400">Raza</label>
            <div class="mt-2">
              <input formControlName="raza" id="raza" name="raza" type="text" required
                class="block w-full pl-2 rounded-md py-1.5 text-principal-grey-700 shadow-sm ring-1 ring-inset ring-principal-grey-400 placeholder:text-principal-grey-400 focus:ring-2 focus:ring-inset focus:ring-principal-grey-700 sm:text-sm sm:leading-6" />
            </div>
          </div>

          <div>
            <label for="sexo" class="block ml-1 text-sm font-medium leading-6 text-principal-blue-400">Sexo</label>
            <div class="mt-2">
              <ion-select formControlName="sexo" interface="action-sheet" class="block w-full rounded-md py-1.5 text-principal-grey-700 shadow-sm ring-1 ring-inset ring-principal-grey-400 focus:ring-2 focus:ring-inset focus:ring-principal-grey-700 sm:text-sm sm:leading-6">
                <ion-select-option value="H">Hembra</ion-select-option>
                <ion-select-option value="M">Macho</ion-select-option>
              </ion-select>
            </div>
          </div>

          <div>
            <label for="tamanio" class="block ml-1 text-sm font-medium leading-6 text-principal-blue-400">Tamaño</label>
            <div class="mt-2">
              <input formControlName="tamanio" id="tamanio" name="tamanio" type="text" required
                class="block w-full pl-2 rounded-md py-1.5 text-principal-grey-700 shadow-sm ring-1 ring-inset ring-principal-grey-400 placeholder:text-principal-grey-400 focus:ring-2 focus:ring-inset focus:ring-principal-grey-700 sm:text-sm sm:leading-6" />
            </div>
          </div>

          <div>
            <label for="edad" class="block ml-1 text-sm font-medium leading-6 text-principal-blue-400">Edad</label>
            <div class="mt-2">
              <input formControlName="edad" id="edad" name="edad" type="text" required
                class="block w-full pl-2 rounded-md py-1.5 text-principal-grey-700 shadow-sm ring-1 ring-inset ring-principal-grey-400 placeholder:text-principal-grey-400 focus:ring-2 focus:ring-inset focus:ring-principal-grey-700 sm:text-sm sm:leading-6" />
            </div>
          </div>

          <div>
            <label for="descripcion" class="block ml-1 text-sm font-medium leading-6 text-principal-blue-400">Descripción</label>
            <div class="mt-2">
              <ion-textarea formControlName="descripcion" id="descripcion" name="descripcion" required
                class="block w-full rounded-md py-1.5 text-principal-grey-700 shadow-sm ring-1 ring-inset ring-principal-grey-400 placeholder:text-principal-grey-400 focus:ring-2 focus:ring-inset focus:ring-principal-grey-700 sm:text-sm sm:leading-6"></ion-textarea>
            </div>
          </div>

          <div>
            <label for="foto" class="block ml-1 text-sm font-medium leading-6 text-principal-blue-400">Foto de la Mascota</label>
            <div class="mt-2">
              <input type="file" id="foto" name="foto" (change)="onFileSelected($event)" accept="image/*" class="block w-full text-principal-grey-700 focus:ring-2 focus:ring-inset focus:ring-principal-grey-700 sm:text-sm sm:leading-6" />
            </div>
          </div>

          <div class="flex justify-center mt-6">
            <button type="submit"
              class="w-full py-3 rounded-3xl bg-principal-blue-400 text-white font-bold text-lg hover:bg-principal-blue-600 transition-colors duration-300">
              Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ng-template>
