<div *ngIf="isMobilView; else desktopView">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <div class="flex items-center ml-2 justify-start">
          <img class="flex" src="../../../../assets/icon/Logo_AppDopta.jpeg"
          class="size-12 rounded-lg" alt="FlowBite Logo" />
          <h1 class="text-xl ml-2 font-bold">AppDopta</h1>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>

        <ion-menu-toggle>
          <ion-item (click)="navigateTo('dashboard/crear-mascota')">
            <ion-label>Publicar mascota</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item (click)="navigateTo('dashboard/adoptar')">
            <ion-label>Adoptar</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item (click)="navigateTo('dashboard/crear-evento')">
            <ion-label>Publicar Evento</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item (click)="navigateTo('dashboard/eventos')">
            <ion-label>Eventos</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item (click)="navigateTo('dashboard/favoritos')">
            <ion-label>Favoritos</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item (click)="navigateTo('dashboard/crear-servicio')">
            <ion-label>Publicar Servicio</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item (click)="navigateTo('dashboard/mapa-servicios')">
            <ion-label>Servicios</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item (click)="navigateTo('dashboard/sobre-nosotros')">
            <ion-label>Sobre nosotros</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item (click)="navigateTo('dashboard/contacto')">
            <ion-label>Contacto</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="flex items-center mr-14 justify-center">
          <h1 class="text-xl mr-2 font-bold">AppDopta</h1>
          <img class="flex" src="../../../../assets/icon/Logo_AppDopta.jpeg"
            class="size-12 rounded-lg" alt="FlowBite Logo" />
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
  </div>
</div>


<ng-template #desktopView>
  <!-- <ion-content> -->
  <div class="fixed top-0 z-50 w-full border-b-1
        shadow-md border-principal-grey-400 bg-white">
    <div class="px-3 py-4 lg:px-5 lg:pl-3">
      <div class="flex items-center justify-between gap-2">
        <div class="flex items-center justify-between sm:ml-4 md:ml-6 xl:ml-8">

          <img class="flex ml-8 sm:ml-4 md:ml-6 xl:ml-8" src="../../../../assets/icon/Logo_AppDopta.jpeg"
            class="size-20 rounded-lg" alt="FlowBite Logo" />

          <div class="ml-8 flex items-center justify-between sm:ml-4 md:ml-6 xl:ml-8">
            <h1 class="text-3xl font-bold">AppDopta</h1>
            <p class="ml-4 text-3xl text-principal-grey-400">|</p>
          </div>

          <div
            class="ml-8 flex items-center justify-between text-principal-grey-400 font-semibold sm:flex-wrap md:flex-nowrap xl:flex-nowrap">
            <a href="dashboard/crear-mascota" class="px-4 hover:text-principal-grey-700">Publicar mascota</a>
            <a href="dashboard/adoptar" class="px-4 hover:text-principal-grey-700">Adoptar</a>
            <a href="dashboard/crear-evento" class="px-4 hover:text-principal-grey-700">Publicar eventos</a>
            <a href="dashboard/eventos" class="px-4 hover:text-principal-grey-700">Eventos</a>
            <a href="dashboard/favoritos" class="px-4 hover:text-principal-grey-700">Favoritos</a>
            <a href="dashboard/crear-servicio" class="px-4 hover:text-principal-grey-700">Publicar servicio</a>
            <a href="dashboard/mapa-servicios" class="px-4 hover:text-principal-grey-700">Servicios</a>
            <a href="dashboard/sobre-nosotros" class="px-4 hover:text-principal-grey-700">Sobre nosotros</a>
            <a href="dashboard/contacto" class="px-4 hover:text-principal-grey-700">Contacto</a>
          </div>

        </div>

        <div class="flex items-center relative sm:mr-4 md:mr-6 xl:mr-8">
          <div class="flex items-center ms-3">

            <div *ngIf="currentUser?.user?.username ; else notLoggedIn">
              <button type="button" (click)="toggleProfileIcon()" class="flex items-center justify-center text-sm bg-principal-blue-400 rounded-full focus:ring-4
                    focus:ring-principal-blue-600" style="width: 50px; height: 50px;">
                <span class="sr-only">Open user menu</span>
                <div class="flex items-center justify-center rounded-full bg-principal-grey-400"
                  style="width: 50px; height: 50px;">
                  <img class="rounded-full" [src]="currentUser.imagen_perfil" [alt]="currentUser.nombre"
                    style="width: 40px; height: 40px;"> <!--TODO:AJUSTAR PARA QUE SE VEA FOTO DE PERFIL-->
                </div>
              </button>
            </div>

            <ng-template #notLoggedIn>
              <div class="ml-8 flex items-center justify-between text-pricipal-grey-400 font-semibold">
                <a href="auth/" class="px-4 hover:text-principal-grey-700">Login</a>
                <a href="auth/registro" class="px-4 hover:text-principal-grey-700">Registro</a>
              </div>
            </ng-template>

            @if( isOpenProfile() ){
            <div class="z-50 text-white font-roboto-mono font-bold mr-4 list-none divide-y
                    rounded-lg shadow absolute w-64 px-4 py-2
                    right-[0rem] top-[3.3rem] bg-principal-blue-400 divide-principal-grey-700">
              <div class="py-3" role="none">
                <p class="text-sm truncate px-2 text-white">{{currentUser.user.username | titlecase
                  }}#{{currentUser.user.id}}</p>
              </div>
              <ul class="py-4" role="none">
                <li class="rounded-lg py-2 my-2 grid grid-rows-2 gap-4">
                  <div *ngIf="currentUser?.nombre; else isOrganization ">
                  <span class="text-sm rounded-lg py-1 px-2 cursor-pointer hover:bg-principal-grey-700"
                    (click)="toggleProfile()">
                    <i class="fa-solid fa-gear"></i>
                    configuraciones
                  </span>
                  </div>

                  <ng-template #isOrganization>
                  <span class="text-sm rounded-lg py-1 px-2 cursor-pointer hover:bg-principal-grey-700"
                    (click)="toggleProfileOrganization()">
                    <i class="fa-solid fa-gear"></i>
                    configuraciones organización
                  </span>
                  </ng-template>
                  
                  <span class="text-sm rounded-lg py-1 px-2 cursor-pointer hover:bg-principal-grey-700"
                    (click)="onLogout()">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Cerrar Sesión
                  </span>
                </li>
              </ul>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </ion-content> -->
</ng-template>
